<!--attempt pulled from nick's question box, throws error:

"ActionController::UrlGenerationError at /logins/new
No route matches {:action=>"destroy", :controller=>"logins"} missing required keys: [:id]"
-->

<h4>Login or <%= link_to "Register for a new account", new_user_path %></h4>
<%= form_for(:session, url: logins_path) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Login" %>

<% end %>



<!--attempt pulled from greg's question box, threw errors
<div class="row">
  <div class='headings'>
    <h4 class="large-12 columns">Login or <#=link_to "Register for a new account", new_user_path %>
    </h4>
  </div>
  form was formerly pointing to login_index_path, but then throwing an error that it this path hadn't been set, and that I probably meant logins_new_path, so I changed it to that
  <#= form_tag logins_new_path, :method => :post do %>
    <div class="large-12 columns">
      <#= label_tag :email, nil, class: 'post_label' %>
      <#= text_field_tag :email, nil, class: 'text_field' %>
    </div>
    <div class="large-12 columns">
      <#= label_tag :password, nil, class: 'post_label' %>
      <#= password_field_tag :password, nil, class: 'text_field'%>
    </div>
    <div class="large-12 columns">
      <#= button_tag "Login", :class => "small radius" %>
    </div>
  <# end %>
</div>
after hitting submit get the error "No route matches [POST] "/logins/new"". I tried logins_create_path and got an equivalent error related to /logins/create-->