<div class="content">
  <h1>Mo' Problems</h1>
  <p>Where collaboration ends frustration!</p>
  <!--intention is to set this up so the getting started partial only displays when user is logged out
  <# if logged_in? == nil %>-->
    <%= render "layouts/getting_started" %>
  <!--<# end %>-->

  <% @problems.each do |problem| %>
  <ul>
    <li><%= problem.description %></li>
    <li><%= problem.attempt %></li>
    <li><%= problem.user.name %></li>
    <li><%= link_to 'Read More...', problem_path(problem) %></li>
  </ul>
  <% end %>
</div>


