<div class="content">
  <h1><%= @problem.description %></h1>
  <p><b><%= @problem.attempt %></b></p>
  <div class="notes_wrapper">
    <h3 class="dark">Notes</h3>
    <% @problem.notes.each do |note| %>
      <div class="tan">
        <ul id="list">
          <li><b><%= note.text %></b></li>
          <li><span class="asked_by">Answered by <%= note.user.name %></span></li>
        </ul>
      </div>
    <% end %>
  </div>
  <br>
  <p><h3 class="dark">Create a new note</h3></p>
  <div class="formwrap">
    <%= render "notes/note_form" %>
  </div>
</div>