<div class="content">
  <h1><%= @problem.description %></h1>
  <p><%= @problem.attempt %></p>
  <% if current_user == @problem.user %>
    <p>
      <h5 class="dark">
        <%= link_to  solved_problem_path(@problem),  method: :put, data: { confirm: "Are you sure this is solved?"} do%>
          <i class="fa fa-thumbs-up fa-2x"></i>
         <% end %>
         My problem has been solved
      </h5>
    </p>
  <% end %>
  <br>
  <div class="notes_wrapper">
    <% @problem.notes.each do |note| %>
      <h3 class="dark">Notes</h3>
      <div class="tan">
        <ul id="list">
          <li><b><%= note.text %></b></li>
          <li><span class="asked_by"><%= "Answered by #{note.user.name} #{note.created_at.strftime("on %m/%d/%Y at %I:%M%p")}" %> </span></li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="formwrap">
    <%= render "notes/note_form" %>
  </div>
</div>