<div class="content">
  <h1><%= @problem.description %></h1>
  <p><%= @problem.attempt %></p>
  <% if current_user == @problem.user %>
    <i class="fa fa-thumbs-up fa-4x">
      <%= link_to "Solved", solved_problem_path(@problem),  method: :put, data: { confirm: "Are you sure this is solved?" }%>
    </i>
  <% end %>
  <br>
  <div class="notes_wrapper">
    <div class="row">
      <div class='headings'>
        <h4 class="large-12 columns">Notes</h4>
      </div>
    </div>
    <br>
    <% @problem.notes.each do |note| %>
      <ul>
      <li><%= note.text %></li>
      <li>Answered by <%= note.user.name %></li>
      </ul>
    <% end %>
  </div>
  <p>Create a new note</p>
  <div class="formwrap">
    <%= render "notes/note_form" %>
  </div>
</div>