<div class="content">
  <h1><%= @problem.description %></h1>
  <p><%= @problem.attempt %></p>
  <% if current_user == @problem.user %>
    <p>If you've found the solution to this problem, mark it as
    <%= link_to  solved_problem_path(@problem),  method: :put, data: { confirm: "Are you sure this is solved?"} do%>
      Solved! <i class="fa fa-thumbs-up fa-4x"></i>
    <% end %>
    </p>
  <% end %>
  <br>
  <div class="notes_wrapper">
    <h3 class="dark">Notes</h3>
    <% @problem.notes.each do |note| %>
      <div class="tan">
        <ul id="list">
          <li><b><%= note.text %></b></li>
          <li><span class="asked_by"><%= "Answered by #{note.user.name} #{note.created_at.strftime("on %m/%d/%Y at %I:%M%p")}" %> </span></li>
        </ul>
      </div>
    <% end %>
  </div>
  <br>
  <p><h3 class="dark">Create a new Note</h3></p>
  <div class="formwrap">
    <%= render "notes/note_form" %>
  </div>
</div>